body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to top, #051937, #044269, #00719a, #00a4c6, #12d9eb);
  color: #1e1e1f;
  font-family: 'Montserrat', 'arial','Helvetica';
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}
