body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom, #c9cdd4, #bccbd7, #accbd6, #9bcad0, #8fc9c3);
  color: #1e1e1f;
  font-family: 'Montserrat', 'arial','Helvetica';
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}
